<div class="row">
<div class="span9">
<div class="hero-unit">
  <h1>The challenges of a one-state reality?</h1>
  <p>This week we are brainstorming the potential challenges of a "one-state" reality. Share your thoughts. </p>
  <p>
    <a class="btn btn-primary btn-large">
      Post Reply
    </a>
  </p>
</div>

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
    <li class="span3">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail label</h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
</ul>

</div>

<div class="span3">


<h3>Recent Topics</h3>
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h5 class="media-heading">The Economic Cost of War</h5>
    Here's how blah blah
  </div>
</div>
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h5 class="media-heading">The Economic Cost of War</h5>
    Here's how blah blah
  </div>
</div>



<h3>Online Members</h3>
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" data-src="holder.js/64x64">
  </a>
  <div class="media-body">
    <h5 class="media-heading">Daniel Wehrenfennig</h5>
    Executive Director of Olive Tree Initiative
  </div>
</div>

</div>